body{
    background-color:deepskyblue;
}
address{
    color:darkorange;
}
h1{
    color:palevioletred;
}
h2{
    color:plum;
}
p{
color:green;
    z-index: ;
}
h3{
    color:darkred;
}
blockquote{
    color:mediumpurple;
}